body{
    background-color: rgb(123, 193, 255);
    animation: changeBg 10s linear infinite;
}
@keyframes changeBg{
     0%{
        background-color: rgb(200 93 191);
     }
     20%{
        background-color: rgb(93 93 200);
     }
     40%{
        background-color: rgb(93 148 200);
     }
     60%{
        background-color: rgb(93 200 122);
     }
     70%{
        background-color: rgb(228, 221, 31);
     }
     80%{
        background-color: rgb(191 200 93);
     }
     90%{
        background-color: rgb(200 139 93);
     }
     100%{
        background-color: rgb(200 93 191);
     }
}
.backcolor{
    background-color: rgb(134, 255, 243);
}

.textarea{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
}
textarea {
    resize: none;
  }

textarea:focus{
    outline-style: none;
}

input:focus{
    outline-style: none;
}
.addInput{
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
}
.addTextArea{
    font-family: 'Playpen Sans', cursive;
    font-size: 21px;
}
.updateInput{
    background-color: rgb(215 203 36);
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
}
.updateInput:focus{
    background-color: rgb(215 203 36);
}
.updateTextarea{
    background-color: rgb(215 203 36);
    font-family: 'Playpen Sans', cursive;
    font-size: 21px;
}
.updateTextarea:focus{
    background-color: rgb(215 203 36);
}
.modalUpdate{
    background-color: rgb(215 203 36);
}
.card{
    border: 1px solid black;
    box-shadow: 5px 5px 20px;
}
.heading{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: 600;
}
